@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtY.ttf) format('truetype');
}
body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #454547;
  font-family: 'Playfair Display', sans-serif;
}
#intro {
  min-height: 100vh;
  display: grid;
}
#csCopy {
  height: 100%;
  text-align: center;
}
#csCopy h1 {
  font-size: 52px;
}
#csCopy h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
@media (max-width: 767px) {
  #csCopy h1 {
    font-size: 42px;
  }
  #csCopy h2 {
    font-size: 18px;
  }
}
